<div class="left-side-menu">
    <div ng-include="'views/partials/admin/admin-navigation.html'" class="nav"></div>
</div>
<table>
    <thead>
    <tr>
        <th ng-click="sortBy(id)">Id</th>
        <th ng-click="sortBy(name)">Category</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in AllData.categories">
        <td>{{category.id}}</td>
        <td>{{category.username}}</td>
        <td>
            <a href ng-click="edit(category)" class="link">Edit</a>
            <a href ng-click="delete(category)" class="link">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="#/admin/category/create" class="button">Create New Category</a>
<div ng-if="AllData.categories.length" pager id="pager"></div>




