<div class="left-side-menu">
    <div ng-include="'views/partials/admin/admin-navigation.html'" class="nav"></div>
</div>
<form class="form-box">
    <h1>Edit Ad</h1>

    <p ng-show="adData.imageDataUrl">
        <img ng-src="{{adData.imageDataUrl}}" alt="No Image"/>
    </p>

    <p browse ng-show="!adData.imageDataUrl"></p>

    <p ng-show="adData.imageDataUrl">
        <button ng-really-message="Are you sure?" ng-really-click="deleteImage()" class="button">Delete Image
        </button>
        <button ng-click="changeImage()" class="button">Change Image</button>
    </p>
    <p>
        <label for="title">Title:</label>
        <input type="text" id="title" placeholder="{{adData.title}}" disabled/>
    </p>

    <p>
        <label for="text">Text:</label>
        <textarea class="text-area" id="text" placeholder="{{adData.text}}"></textarea>
    </p>

    <p>
        <label for="category">Category:</label>
        <select id="category" ng-model="adData.categoryId">
            <option value="">(None)</option>
            <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
        </select>
    </p>
    <p>
        <label for="town">Town:</label>
        <select id="town" ng-model="adData.townId">
            <option value="">(None)</option>
            <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
        </select>
    </p>

    <p>
        <label for="userName">Username:</label>
        <input type="text" id='userName' value="{{adData.userName}}"/>
    </p>

    <p>
        <label for="personName">Name:</label>
        <input type="text" id='personName' value="{{adData.ownerName}}"/>
    </p>

    <p>
        <label for="email">Email:</label>
        <input type="text" id="email" value="{{adData.ownerEmail}}"/>
    </p>

    <p>
        <label for="phoneNumber">Tel:</label>
        <input type="text" id="phoneNumber" value="{{adData.ownerPhone}}"/>
    </p>


    <p>
        <button ng-really-message="Are you sure?" ng-really-click="delete(adData.id)" class="button">Delete</button>
        <a href="#/user/ads" class="link">Cancel</a>
    <p>
</form>