<div class="left-side-menu">
    <div ng-include="'views/partials/admin/admin-navigation.html'" class="nav"></div>
</div>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="all-books">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="button">DELL</button>
            <button class="button">Edit</button>
        </td>
    </tr>
    </tbody>
</table>





