<div class="left-side-menu">
    <div ng-include="'views/partials/user-navigation.html'" class="nav"></div>
</div>
<form ng-show="identity.isAuthenticated()" class="form-box">
    <h1>Confirm Deleting Ad?</h1>
    <img ng-src="{{adData.imageDataUrl}}" alt="No Image"/>
    <span>{{ad.date | date: 'dd-MM-yyyy'}}</span>

    <p>
        <label for="title">Title:</label>
        <input type="text" id="title" placeholder="{{currentUser.name}}" ng-model="user.name" disabled/>{{adData.title}}
    </p>

    <p>
        <label for="text">Text:</label>
        <textarea class="text-area" id="text" value="adData.text" required></textarea>
    </p>

    <p>
        <label for="category">Category:</label>
        <input type="category" disabled>
    </p>

    <p>
        <label for="town">Town:</label>
        <input type="town" disabled>
    </p>

    <p>
        <button ng-click="delete(adData.id)" class="button">Edit</button>
        <a href="#/" class="button">Cancel</a>
    <p>
</form>