<p>
    <label for="category">Category:</label>
    <select id="category" ng-model="request.categoryId">
        <option value="" selected="selected">All</option>
        <option ng-repeat="category in allCategory" value="{{category.id}}">
            {{category.name}}
        </option>
    </select>
</p>
<p>
    <label for="town">Town:</label>
    <select id="town" ng-model="request.townId">
        <option value="" selected="selected">All</option>
        <option ng-repeat="town in alltowns" value="{{town.id}}">
            {{town.name}}
        </option>
    </select>
</p>
<a href="" ng-click="filterByCategoryAndTown(request)" class="button">Filter</a>
