<form name="publishAdd" class="form-box">
    <h1>Publish New Ad</h1>

    <p>
        <label for="title">Title:</label>
        <input type="text" id="title" placeholder="Title" ng-model="ad.title" required/>
    </p>

    <p>
        <label for="text">Text:</label>
        <textarea id="text" placeholder="Text" ng-model="ad.text" ng-minlength="2" required/>
    </p>

    <p>
        <label for="img">Image:</label>
        <input id="img" type="file" nv-file-select uploader="uploader" ng-pattern="imgPattern"/>
        <button ng-click="item.upload()" class="button">Browse...</button>
    </p>

    <p>
        <label>Category:</label>
        <select categories ng-model="ad.category"></select>
    </p>

    <p>
        <label>Town:</label>
        <select towns ng-model="ad.town"></select>
    </p>

    <p class="buttons">
        <button ng-click="register(userPublishAdd, publishAdd)" class="button">Publish</button>
        <button class="button">Cancel</button>
    </p>
</form>
