<div class="left-side-menu">
    <div ng-include="'views/partials/user-navigation.html'" class="nav"></div>
</div>
<form name="editProfile" class="form-box">
    <h1>Edit Profile</h1>

    <p>
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" placeholder="{{currentUser.name}}" ng-model="user.name" required/>
    </p>

    <p>
        <label for="email">E-mail:</label>
        <input id="email" type="email" placeholder="{{currentUser.email}}" ng-pattern="emailPattern"
               ng-model="user.email"
               required/>
    </p>

    <p>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" placeholder="{{currentUser.phoneNumber}}" ng-model="user.phonenumber" required/>
    </p>

    <p>
        <label for="town">Town:</label>
        <select id="town" ng-model="user.townid">
            <option value="" selected="selected">(None)</option>
            <option ng-repeat="town in alltowns" value="{{town.id}}">
                {{town.name}}
            </option>
        </select>
    </p>

    <p class="buttons">
        <button ng-click="editUserProfile(user, editProfile)" class="button">Update</button>
        <a href="#/user/ads" class="link">Cancel</a>
    </p>
</form>
<form name="editPass" class="form-box">
    <h1>Change Password</h1>

    <p>
        <label for="old-pass">Old Password:</label>
        <input type="text" id="old-pass" placeholder="Old password" ng-model="user.oldPassword" required/>
    </p>

    <p>
        <label for="pass">New Password:</label>
        <input type="password" id="pass" placeholder="Password" ng-model="user.password" ng-minlength="2" required/>
    </p>

    <p>
        <label for="confirmation">Confirm new pass:</label>
        <input id="confirmation" type="password" placeholder="Confirm password" ng-model="user.confirmPassword"
               required/>
    </p>

    <p class="buttons">
        <button ng-click="editUserProfile(user, editPass)"
                ng-disabled="user.password!=user.confirmPassword"
                class="button">Change Password
        </button>
        <a href="#/user/ads" class="link">Cancel</a>
    </p>
</form>