<form name="loginForm" class="dialog-box">
    <h1>Login</h1>

    <p>
        <label for="username">Username:</label>
        <input ng-model="user.username" type="text" id="username" placeholder="Name" required"/>
    </p>

    <p>
        <label for="password">Password:</label>
        <input ng-model="user.password" type="password" id="password" placeholder="Password" required/>
    </p>

    <p class="buttons">
        <a href="" ng-click="login(user, loginForm)" class="button">Login</a>
        <a href="#/register" class="link">Register</a>

    <p>
</form>
