<h3>Navigation</h3>
<a href="/" class="link">Home</a>
<br/>

<div ng-show="!identity.isAuthenticated()">
    <h3>To publish a new ad, please login.</h3>

    <p>
        <a href="#/login" class="button">Login</a>
    </p>

    <p>
        <a href="#/register" class="button">Register</a>
    </p>
</div>
<div ng-show="identity.isAuthenticated()">
    <p>
        <a href="#/user/ads" class="link">My Ads</a>
    </p>

    <p>
        <a href="#/user/ads/publish" class="link">New Ad</a>
    </p>

    <p>
        <a href="#/user/profile" class="link">Edit Profile</a>
    </p>
</div>



