/* Global Reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

html, body {
    height: 100%;
}

body {
    color: #111;
    background-color: #FFF;
    font: 1.1em 'Nunito', Arial, sans-serif;
    text-align: center;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1 {
    font-size: 150%;
    margin-bottom: 1em;
}

p {
    margin: .6em 0;
}

#header {
    position: relative;
    padding: 0.3em;
    background: #A9D18E;
    height: 1em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.loginDisplay {
    font-size: 1em;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 15px;
    list-style-type: none;
}

.loginDisplay > li > a {
    color: #2E75B6;
    text-decoration: none;
}

#wrapper {
    width: 100%;
    min-height: 80%;
    margin: .5em auto;
}

.left-side-menu {
    width: 10%;
    float: left;
    display: table;
}

.menu-filter, .nav {
    background: #A9D18E;
    margin: 0 auto .5em .5em;
    border-radius: 1em;
    border: 1px solid #507E32;
    box-shadow: 1px 1px 3px #507E32;
    padding: .5em;
}

.menu-filter select {
    margin: .5em 1em;
    padding: .2em;
    max-width: 7.4em;
}

.nav {
    min-width: 8em;
    max-width: 10em;
}

.nav h3:after {
    content: ' ';
    display: block;
    border: 1px solid #507E32;
    margin: 0.5em 0 0.5em 0;
    box-shadow: 1px 1px 3px #507E32;
}

.button {
    background: #70AD47;
    border: 2px solid #507E32;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    margin: 0 10px;
}

.link {
    color: #2E75B6;
    text-decoration: none;
    margin: 0 auto;
    border-bottom: 1px dotted #2E75B6;

}

.dialog-box {
    display: inline-block;
    margin: 0 0.5em 0.5em;
    background: #A9D18E;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #507E32;
    box-shadow: 1px 1px 3px #507E32;
}

img {
    width: 11em;
    height: 8em;
}

.dialog-box h1 {
    max-width: 13em;
    max-height: 5em;
    margin: 0 0 .9em 0;
    text-align: center;
    font-size: 1.3em;
}

.dialog-box h1:after {
    content: ' ';
    display: block;
    border: 1px solid #507E32;
    margin: 0.5em 0 0.5em 0;
    box-shadow: 1px 1px 3px #507E32;
}

.text-area {
    font-size: 1em;
    padding: 0.2em 0.8em 2em;
    border: 1px solid #70AD47;
    border-radius: 2px;
}

.dialog-box p.buttons {
    margin: 1em 0;
    text-align: center;
}

.dialog-box label {
    display: inline-block;
    min-width: 4em;
}

.dialog-box input {
    font-size: 1em;
    padding: 0.2em;
    border: 1px solid #70AD47;
    border-radius: 2px;
}

.dialog-box input:focus {
    outline: 0;
    border: 1px solid #3a6c35;
}

#pager {
    padding: 1em;
    font-size: 1em;
    margin: 0 auto;
}

#pager > #selected {
    border: 1px solid #507E32;
}

#pager > button {
    margin: 0.5em auto;
    padding: .5em;
    box-shadow: 1px 1px 3px #507E32;
    background-color: #A9D18E;
    border: #A9D18E;
}

#pager > input {
    width: 3em;
}

table {
    margin: 0 auto;
    padding: 0 0 1em;
}

table tr {
    background: #A9D18E;
}

.table th, .table td {
    border: 1px solid #507E32;
    padding: 5px;
    text-align: left;
    box-shadow: 1px 1px 3px #507E32;
    word-break: break-all;
    max-width: 20em;
    min-width: 10em;
}

table th, tabler th {
    border: 1px solid #507E32;
    padding: 5px;
    text-align: left;
    box-shadow: 1px 1px 3px #507E32;
    word-break: break-all;
}

.admin-box {
    width: 26em;
    display: inline-block;
    margin: 0 0.5em 0.5em;
    background: #A9D18E;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #507E32;
    box-shadow: 1px 1px 3px #507E32;
}

.admin-box h1 {
    max-width: 20em;
    max-height: 5em;
    margin: 0 0 .9em 0;
    text-align: center;
    font-size: 1.3em;
}

.admin-box h1:after {
    content: ' ';
    display: block;
    border: 1px solid #507E32;
    margin: 0.5em 0 0.5em 0;
    box-shadow: 1px 1px 3px #507E32;
}

.admin-box label {
    display: inline-block;
    min-width: 6em;
}

.admin-box input {
    font-size: 1em;
    padding: 0.2em;
    border: 1px solid #70AD47;
    border-radius: 2px;
}

.admin-box input:focus {
    outline: 0;
    border: 1px solid #3a6c35;
}

hr {
    border-color: #444;
}

.form-box {
    display: inline-block;
    margin: 0 auto;
    background: #A9D18E;
    padding: 1.2em;
    border-radius: 1em;
    border: 1px solid #507E32;
    box-shadow: 1px 1px 3px #507E32;
}

.form-box h1 {
    margin: 0 0 1.2em 0;
    text-align: center;
    font-size: 1.3em;
}

.form-box h1:after {
    content: ' ';
    display: block;
    border: 1px solid #507E32;
    margin: 1em 0 1em 0;
    box-shadow: 1px 1px 3px #507E32;
}

.form-box p {
    margin: 10px 0;
}

.form-box label {
    display: inline-block;
    min-width: 9em;
}

.form-box input {
    font-size: 1em;
    padding: 5px;
    border: 1px solid #70AD47;
    border-radius: 2px;
}

.form-box select {
    min-width: 14.5em;
    font-size: .9em;
    padding: 5px;
    border: 1px solid #70AD47;
    border-radius: 2px;
}

.form-box input:focus {
    outline: 0;
    border: 1px solid #3a6c35;
}

#footer {
    clear: both;
    width: 100%; /*new*/
    margin-bottom: 0em;
    position: relative;
    height: 5em;
    background: #A9D18E;
    text-align: center;
}
