<div ng-repeat="ad in allAds.ads" class="dialog-box">
    <h1>{{ad.title}}</h1>

    <img ng-src="{{ad.imageDataUrl}}" alt="No Image"></img>
    <span>{{ad.date | date: 'dd-MM-yyyy'}}</span>

    <p>
        <label for="text">Text:</label>
        <textarea id="text" placeholder="{{ad.text}}" disabled="disabled"/>
    </p>

    <p>
        <label for="personName">Name:</label>
        <input type="text" id='personName' value="{{ad.ownerName}}" disabled="disabled"/>
    </p>

    <p>
        <label for="email">Email:</label>
        <input type="text" id="email" value="{{ad.ownerEmail}}" disabled="disabled"/>
    </p>

    <p>
        <label for="phoneNumber">Tel:</label>
        <input type="text" id="phoneNumber" value="{{ad.ownerPhone}}" disabled="disabled"/>
    </p>
</div>
