<button ng-click="firstPage()" ng-hide="request.startPage == 1">First</button>
<button ng-click="previousPage()" ng-hide="request.startPage == 1">Previous</button>
<button ng-bind="request.startPage" ng-click="currentPage(request.startPage)" id='selected'></button>
<button ng-if="AllData.numPages>1 && request.startPage< AllData.numPages" ng-bind="request.startPage + 1"
        ng-click="currentPage(request.startPage + 1)">
</button>
<button ng-if="AllData.numPages>2 && request.startPage< AllData.numPages -1" ng-bind="request.startPage + 2"
        ng-click="currentPage(request.startPage + 2)"></button>
<button ng-click="nextPage()" ng-hide="request.startPage == AllData.numPages">Next</button>
<button ng-click="lastPage(AllData.numPages)" ng-hide="request.startPage == AllData.numPages">Last</button>

